main{
    background-color:skyblue;
    position: relative;
    padding-top: 100px;
}
h1{
    font-size: 5rem;
    color:#66BFBF;

}

h2{
    font-size: 2rem;
    color:#66BFBF;

}

h3{
    color:#66BFBF;
}
body{
    margin: 0;
    text-align: center;
}

#top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

#bottom-cloud{
    position: absolute;
    left:300px;
    bottom: 300px;
}

#mountain{
    position:relative;
    top:4px;
}

.skills{
    margin: auto;
    width: 50%;
    text-align: left;
}

#stockimg{
    width: 13%;
    float: right;
    padding-right: 30px;
}

.skills_para{
    text-align : left;
}

#programmingimg{
    width: 15%;
    float: left;
    padding-right: 30px;

}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #0a8185);
    background-image: -moz-linear-gradient(top, #11cdd4, #0a8185);
    background-image: -ms-linear-gradient(top, #11cdd4, #0a8185);
    background-image: -o-linear-gradient(top, #11cdd4, #0a8185);
    background-image: linear-gradient(to bottom, #11cdd4, #0a8185);
    -webkit-border-radius: 16;
    -moz-border-radius: 16;
    border-radius: 16px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  hr{
    width: 4%;
    border-top : 5px dotted gray;
  }

  .bottom-container{
      margin-top: 50px;
      background-color: #66BFBF;
      word-spacing: 30px;
      height: 80px;
      padding-top: 30px;
  }
  .footer-link{
    word-spacing: 30px;
    padding-top: 20px;

  }
  #bottom{
    word-spacing: 0px;
    color: #EAF6F6;
    margin-top: 40px;
  }

